@media print{
    .no-print, .no-print *{display: none !important;}    
    .show_in_print {display: block;}
    .mpmt {margin-top: -140px;}
    .hip{display: none;}


    .clearfix::after, .clearfix::before{
        content: " ";
        display: table;
    }
    .clearfix::after{
        clear: both;
    }

    h4{margin: 10px 0;}
    p{margin: 0 0 4px;}
    .mp_hide{display: none;}
    .media_print{margin-bottom: 10px;}
    .mp_txt_30{
        float: left;
        width: 33%;
    }
    .mp_25{float: left;width: 24%;}
    .mp_30{float: left;width: 32.5%;}
    .mp_50{float: left;width: 49%;}
    .mp_100{width: 100%;}
    .mp_mt{margin-top: -90px;}
    .mp_gap{margin-bottom: 15px;}
    .mp_no_mrgn{margin: 0;}
    .pull-left{float: left !important;}
    .pull-right{float: right !important;}
    .text-center{text-align: center;}
    .text-right{text-align: right;}
    .text-capitalize{text-transform: capitalize;}
    .text-uppercase{text-transform: uppercase;}
    table{
        border-spacing: 0;
        border-collapse: collapse;
        margin-bottom: 10px;
        max-width: 100%;
        width: 100%;
    }
    table tr th,
    table tr td{
        border: 1px solid #cdcdcd;
        padding: 5px;
        text-align: left;
    }

    .dis_print{display: none;}

    #txtLess{width: 28% !important;}
    .input_dash{
        border: medium none;
        display: inline-block;
        text-align: right !important;
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        -ms-appearance: textfield;
        -o-appearance: textfield;
        appearance: textfield;
    }
    .text-uppercase{text-transform: uppercase;}
    @page {
        margin: 0.25in 0.25in 0 0.25in; filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1);
    }

}